@mixin dFlex($df: flex, $jc: center, $ai: center, $fd: column) {
  display: flex;
  justify-content: $jc;
  flex-direction: $fd;
  align-items: $ai;
}
//Animation für Hero
@mixin scroll-down {
  @keyframes scroll-down {
    0% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(200px);
    }
  }
}
////////////////////////////
//Animation für Skills
@mixin circleAnimation {
  @keyframes circleAnimation {
    0% {
      transform: translate(0) scale(1);
    }
    12% {
      transform: translate(25px) scale(0.9);
    }
    25% {
      transform: translate(50px) scale(0.8);
    }
    37% {
      transform: translate(25px) scale(0.6);
    }
    50% {
      transform: translate(0) scale(0.4);
    }
    62% {
      transform: translate(-25px) scale(0.6);
    }
    75% {
      transform: translate(-50px) scale(0.8);
    }
    87% {
      transform: translate(-25px) scale(0.9);
    }
    100% {
      transform: translate(0) scale(1);
    }
  }
}

@mixin expandAndBorder {
  @keyframes expand-and-border {
    100% {
      width: 45%;
      transform: translateX(65px);
    }
  }
}
////////////////////////////
