<section id="hero" class="hero">
  <div class="hero-content">
    <h1>
      Frontend <br />
      Developer
    </h1>
    <div class="sub-name">
      <img src="/assets/img/Vector 11.png" alt="strich" />
      <p>Dzmitry Stashkevich</p>
    </div>
  </div>
  <div class="hero-info">
    <a class="hero-mail" href="">kontakt&#64;dzmitry-stashkevich.de</a>

    <div class="scrolldown">
      <div>
        <img src="/assets/img/scrolldown.png" alt="" />
      </div>
      <p>Scroll</p>
      <p>down</p>
    </div>
  </div>
</section>
