@import "../../../styles.scss";
@include scroll-down;
.hero {
  @include dFlex($jc: none);
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  padding: 0 clamp(2rem, 13.333vw - 6rem, 6rem);
}

.hero-content {
  @include dFlex();
  height: 50%;
}

.hero-content h1 {
  font-size: clamp(32px, 8vw, 96px);
  font-weight: 800;
  margin: 0;
  line-height: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.sub-name {
  @include dFlex($fd: row);
  gap: 20px;
  > p {
    font-size: clamp(14px, 2vw, 36px);
    color: #00bc8f;
    font-weight: 700;
  }
  > img {
    width: clamp(100px, 40%, 300px);
    max-width: 100%;
    height: 3px;
  }
}
.hero-info {
  @include dFlex($jc: space-between, $ai: flex-end, $fd: none);
  width: 100%;
  max-width: 1440px;
  padding: 4%;
}

.hero-mail {
  font-family: "Overpass", sans-serif;
  font-size: clamp(12px, 5vw, 22px);
  font-weight: 800;
  color: $primary;
  text-decoration: none;
  text-align: left;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.scrolldown {
  @include dFlex();
  gap: 2px;
  position: relative;
  > div {
    position: relative;
    overflow: hidden;
    height: 150px;
  }
  > div img {
    animation: scroll-down 2s linear infinite;
  }
  > p {
    font-weight: bold;
  }
}
