@import '../../../styles.scss';

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 60px;
  align-content: center;
}


.hero-content{
  position: relative;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // flex-wrap: wrap;
  margin-top: 60px;


  >h1{
    font-family: 'Syne', sans-serif;
    // font-size: 128px;
    font-size: clamp(30px, 10vw, 128px);
    font-weight: 800;
    margin: 0;
    line-height: 100%;
    text-align: center;
    padding: 20px;
  }
 

}
.hero-info{
  position: absolute;
  z-index: 0;
  bottom: 0;
  margin-top: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 clamp(2rem, 13.333vw - 6rem, 6rem) 1rem clamp(2rem, 13.333vw - 6rem, 6rem);

}
.sub-name{
      display: flex;
      // z-index: 0;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
      gap: 20px;

    >h3{
      font-family: 'Overpass', sans-serif;
      font-size: clamp(12px, 2vw, 30px);
      color: #00BC8F;
    }
    >img{
      width: 50%;
    }
}
.hero-mail{
  font-family: 'Overpass', sans-serif;
   font-size: 22px;
   font-weight: 800;
   color: $primary;
  text-decoration: none;
    text-align: left;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}
.scrolldown{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      >p{
        font-family: 'Syne', sans-serif;
        font-weight: bold;
      }
}

.arrow-svg {
  animation: arrowMove 1.5s infinite; /* Animation wird auf das gesamte SVG angewendet */
  transition: transform 1s ease;
}

.arrow-path {
  animation: arrowPathMove 2s infinite; /* Animation für den Pfeil */
  transition: transform 0.5s ease;
}

/* Keyframes für die Animation des Pfeils */
@keyframes arrowMove {
  0% {
    transform: translateY(-80px); /* Anfangsposition */
  }
  50% {
    transform: translateY(10px); /* Pfeil nach unten bewegen */
  }
  100% {
    transform: translateY(0); /* Zurück zum Ausgangspunkt */
  }
}

/* Keyframes für die Animation der Pfeilform */
@keyframes arrowPathMove {
  0% {
    transform: translateY(0); /* Anfangsposition */
  }
  50% {
    transform: translateY(10px); /* Pfeil ein kleines Stück nach unten verschieben */
  }
  100% {
    transform: translateY(0); /* Zurück zum Ausgangspunkt */
  }
}


