<section class="about-section">
  <div class="about">
    <h2 class="visible-on-large">
      {{ "about-me.About" | translate }}
    </h2>
    <div class="about-content">
      <div class="title">
        <h2 class="visible-on-small">{{ "about-me.About" | translate }}</h2>
        <p>
          {{ "title.About-me" | translate }}
        </p>

        <span
          ><img src="/assets/img/icons/house.png" alt="based-icon" />
          <p>Based in Neuruppin</p>
        </span>

        <span
          ><img
            src="/assets/img/icons/laptop_chromebook.png"
            alt="laptop-icon"
          />
          <p>Open to work Remote</p>
        </span>

        <a class="btn" href="#contact">Let's talk</a>
      </div>
      <div class="portrait"></div>
    </div>
  </div>
</section>
<div class="arrow">
  <a href="#skill"><img src="../../../assets/img/arrow-r.png" alt="arrow" /></a>
</div>
