@import "../../../styles.scss";
.about-section {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
}
.about {
  display: flex;
  justify-content: none;
  flex-direction: column;
  margin: 50px 0 110px 0;
  padding: 0px 15px 0px 15px;
}
.about-content {
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  p {
    text-align: justify;
  }
}

.portrait {
  width: 450px;
  height: 450px;
  background-image: url("../../../assets/img/profil-bild.jpg");
  background-size: contain;
  object-fit: cover;
  position: relative;
  background-repeat: no-repeat;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #000;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translate(12px, 12px);
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
  }
}

h2 {
  font-family: "Syne", sans-serif;
  font-size: clamp(36px, 5vw, 98px);
  font-weight: 800;
  transition: color 0.3s ease;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: start;

  &:hover {
    color: $highlight;
  }
}
.visible-on-large {
  display: none;
}

.visible-on-small {
  display: block;
}

@media (max-width: 930px) {
  .visible-on-large {
    display: flex;
    justify-content: center;
  }

  .visible-on-small {
    display: none;
  }
}

.title {
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 60%;
  padding-right: 32px;

  > span {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.btn {
  border: 5px solid black;
  text-decoration: none;
  padding: 16px 30px;
  color: black;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  cursor: pointer;
  min-width: 180px;
  align-self: center;
  margin: 50px;
  transition: all 0.3s ease;

  &:hover {
    transform: scaleX(1.3);
    font-weight: bold;
  }
}

.arrow {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
  // padding: 0 clamp(2rem, 13.333vw - 6rem, 6rem);
}
@media (max-width: 930px) {
  .visible-on-large {
    display: flex;
    justify-content: center;
  }

  .visible-on-small {
    display: none;
  }
}
@media (max-width: 920px) {
  h2 {
    justify-content: center;
  }
  .title {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .portrait {
    width: 250px;
    height: 250px;
  }
  .arrow {
    justify-content: center;
    img {
      width: 200px;
    }
  }
}
