<div class="container">
  <h2>Say Hi!</h2>
  <p>Want to discuss a new project?</p>
  <p>say hello! let's discuss you ideas and make it happen</p>

  <div class="contact-form">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <label for="name"></label>
      <input
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        placeholder="Your name.."
        required
      />

      <label for="email"></label>
      <input
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        placeholder="Your email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />

      <label for="message"></label>
      <textarea
        [(ngModel)]="contactData.message"
        id="message"
        name="massage"
        placeholder="Your message"
        required
      >
      style="height: 200px"
    </textarea
      >

      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
