<header>
  <div class="header-content">
    <div class="logo-box">
      <img src="/assets/img/logo-black.png" alt="logo" />
    </div>
    <div class="language-switch">
      <div class="drop-down">
        <button class="drop-btn">
          <img src="/assets/img/world.png" alt="world.icon" />
        </button>
        <div class="dropdown-content">
          <a href="#">de</a>
          <a href="#">eng</a>
        </div>
      </div>

      <nav>
        <div
          class="hamburger"
          (click)="toggleMenu()"
          [ngClass]="{ toggleOpen: !isToggle, toggleClose: isToggle }"
        ></div>
        <div class="overlay" [ngClass]="{ show: !isToggle }">
          <div class="overlay-content">
            <div class="border">
              <a href="#link1">About me</a>
            </div>
            <div class="border">
              <a href="#link2">My skills</a>
            </div>
            <div class="border">
              <a href="#link3">Portfolio</a>
            </div>
            <div class="border">
              <a href="#link1">Kontakt</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
