<header>
  <div class="header-content">
    <div class="logo-box">
      <a href="">
        <img src="/assets/img/logo-black.png" alt="logo" />
      </a>
    </div>
    <div class="language-switch">
      <div class="drop-down">
        <button class="drop-btn">
          <img src="/assets/img/world.png" alt="world.icon" />
        </button>
        <div class="dropdown-content">
          <button (click)="changeLanguege('de')">De</button>
          <button (click)="changeLanguege('en')">En</button>
        </div>
      </div>

      <nav>
        <div
          class="hamburger"
          (click)="toggleMenu()"
          [ngClass]="{ toggleOpen: !isToggle, toggleClose: isToggle }"
        ></div>
        <div class="overlay" [ngClass]="{ show: !isToggle }">
          <nav class="overlay-content" (click)="toggleMenu()">
            <div class="border">
              <a routerlink="/about">{{ "header-nav.Aboutme" | translate }}</a>
            </div>
            <div class="border">
              <a href="#skill">{{ "header-nav.MySkills" | translate }}</a>
            </div>
            <div class="border">
              <a href="#project">{{ "header-nav.Portfolio" | translate }}</a>
            </div>
            <div class="border">
              <a href="#referenz">{{ "header-nav.Referenz" | translate }}</a>
            </div>
            <div class="border">
              <a href="#contact">{{ "header-nav.Contact" | translate }}</a>
            </div>

            <div class="overlay-footer">
              <div class="overlay-title">
                <h2>Say Hi!</h2>
                <p>© Dzmitry Stashkevich</p>
              </div>
              <div class="overlay-sozial">
                <a href=""
                  ><img src="assets/img/4. Github button s3.png" alt="Github"
                /></a>
                <a href=""
                  ><img src="assets/img/5. Email button s3.png" alt="Email"
                /></a>
                <a href=""
                  ><img
                    src="assets/img/6. Linkedin button s3.png"
                    alt="Linkedin"
                /></a>
              </div>
            </div>
          </nav>
        </div>
      </nav>
    </div>
  </div>
</header>
