@import "../../../styles.scss";

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-content {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 92px;
  padding: 20px;
  background-color: $secondary;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  color: $primary;
  > img {
    width: 70px;
  }
}
.language-switch {
  display: flex;
  gap: 50px;
  align-items: center;
  cursor: pointer;
}
.drop-btn {
  background-color: transparent;
  // font-family: "Overpass", sans-serif;
  border: none;
  cursor: pointer;
  margin-left: 10%;

  > img {
    width: 25px;
  }
}

.drop-down {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $secondary;
  border-radius: 20%;
  min-width: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    font-family: "Overpass", sans-serif;
    padding: 10px;
    // margin: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    &:hover {
      background-color: $hightlight;
      border-radius: 20%;
      min-width: 20px;
    }
  }
}

.drop-down:hover .dropdown-content {
  display: block;
}
.hamburger {
  width: 80px;
  height: 80px;

  background-image: url("/assets/img/hamburger/hamburger1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.toggleOpen {
  animation: hamburgerOpen 0.3s forwards;
}

.toggleClose {
  animation: hamburgerClose 0.3s forwards;
}

@keyframes hamburgerOpen {
  0% {
    background-image: url("/assets/img/hamburger/hamburger1.png");
  }

  25% {
    background-image: url("/assets/img/hamburger/hamburger2.png");
  }

  50% {
    background-image: url("/assets/img/hamburger/hamburger3.png");
  }

  75% {
    background-image: url("/assets/img/hamburger/hamburger4.png");
  }

  100% {
    background-image: url("/assets/img/hamburger/hamburger5.png");
  }
}

@keyframes hamburgerClose {
  0% {
    background-image: url("/assets/img/hamburger/hamburger5.png");
  }

  25% {
    background-image: url("/assets/img/hamburger/hamburger4.png");
  }

  50% {
    background-image: url("/assets/img/hamburger/hamburger3.png");
  }

  75% {
    background-image: url("/assets/img/hamburger/hamburger2.png");
  }

  100% {
    background-image: url("/assets/img/hamburger/hamburger1.png");
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 4%;
  background: $secondary;
  display: none;
  justify-content: center;
  z-index: 10;
}

.overlay.show {
  display: flex;
}

.overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.overlay-content a {
  display: block;
  margin: 10px;
  color: $primary;
  font-size: 96px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}
.border {
  height: 170px;
  width: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.border::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  width: 30px;
  height: 30px;
  transition: none;
  animation: none;
}

.border:hover::before {
  animation: expand-and-move 0.5s ease-out forwards;
}

@keyframes expand-and-move {
  0% {
    width: 0;
    height: 30%;
  }
  // 30% {
  //   width: 0;
  //   height: 30%; /* Quadrat wird links aufgebaut */
  // }
  100% {
    width: 100%; /* Linie bewegt sich nach rechts */
    height: 30%;
  }
}
