<section>
  <h1 class="adsimple-322942992">Impressum</h1>
  <p class="adsimple-322942992">Informationen über den Diensteanbieter.</p>
  <p class="adsimple-322942992">Dzmitry Stashkevich</p>
  <p class="adsimple-322942992">
    Anna-Hausen Str. 16, MusterStiege 1 MusterTür 1, <br />16816 Neuruppin,
    <br />Deutschland
  </p>
  <p>
    <strong>Tel.:</strong> 015164971574<br />
    <strong>E-Mail:</strong>
    <a href="mailto:kontakt@dzmitry-stashkevich.de"
      >kontakt&#64;dzmitry-stashkevich.de</a
    >
  </p>
  <div style="display: none"></div>
  <div style="display: none"></div>
  <div style="display: none"></div>
  <h2
    id="eu-streitschlichtung"
    class="adsimple-322942992 fusion-responsive-typography-calculated"
    data-fontsize="24"
    style="--fontSize: 24; line-height: 1.5; --minFontSize: 24"
    data-lineheight="36px"
  >
    EU-Streitschlichtung
  </h2>
  <p class="adsimple-322942992">
    Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten
    (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform
    (OS-Plattform) informieren.<br />
    Verbraucher haben die Möglichkeit, Beschwerden an die Online
    Streitbeilegungsplattform der Europäischen Kommission unter
    <a
      class="adsimple-322942992"
      href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
      target="_blank"
      rel="follow noopener"
      >https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a
    >
    zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in
    unserem Impressum.
  </p>
  <p class="adsimple-322942992">
    Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder
    verpflichtet sind, an Streitbeilegungsverfahren vor einer
    Verbraucherschlichtungsstelle teilzunehmen.
  </p>
  <h2
    id="bildernachweis"
    class="adsimple-322942992 fusion-responsive-typography-calculated"
    data-fontsize="24"
    style="--fontSize: 24; line-height: 1.5; --minFontSize: 24"
    data-lineheight="36px"
  >
    Bildernachweis
  </h2>
  <p class="adsimple-322942992">
    Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich
    geschützt.
  </p>
  <p>
    <strong>Die Bilderrechte liegen bei:</strong>
    <br />Dzmitry Stashkevich<br />
    Design Developer Akademie
  </p>
  <div style="display: none"></div>
  <div style="display: none"></div>
  <p>Alle Texte sind urheberrechtlich geschützt.</p>
  <p style="margin-top: 15px">
    Quelle: Erstellt mit dem
    <a
      href="https://www.adsimple.de/impressum-generator/"
      title="Impressum Generator Deutschland von AdSimple"
      >Impressum Generator</a
    >
    von AdSimple
  </p>
</section>
