<section>
  <h1>{{ "IMPRESSUM.TITLE" | translate }}</h1>

  <p>
    <strong>{{ "PRIVACY.RESPONSIBLE_ENTITY_NAME" | translate }}</strong
    ><br />
    {{ "PRIVACY.RESPONSIBLE_ENTITY_ADDRESS" | translate }}<br />
    {{ "PRIVACY.RESPONSIBLE_ENTITY_PHONE" | translate }}<br />
    E-Mail:
    <a href="mailto:kontakt@dzmitry-stashkevich.de">
      {{ "PRIVACY.RESPONSIBLE_ENTITY_EMAIL" | translate }}</a
    >
  </p>

  <h2
    data-fontsize="24"
    style="--fontSize: 24; line-height: 1.5; --minFontSize: 24"
    data-lineheight="36px"
  >
    {{ "IMPRESSUM.EU_DISPUTE_TITLE" | translate }}
  </h2>
  <p class="adsimple-322942992">
    {{ "IMPRESSUM.EU_DISPUTE_TEXT" | translate }}
  </p>

  <h2
    data-fontsize="24"
    style="--fontSize: 24; line-height: 1.5; --minFontSize: 24"
    data-lineheight="36px"
  >
    {{ "IMPRESSUM.IMAGE_CREDITS_TITLE" | translate }}
  </h2>
  <p>
    {{ "IMPRESSUM.IMAGE_CREDITS_TEXT" | translate }}
  </p>
  <p>
    <strong>{{ "IMPRESSUM.IMAGE_RIGHTS" | translate }}</strong>
    <br />
  </p>
</section>
