<div class="container">
  <div class="contact-info">
    <h2>Say Hi!</h2>
  </div>
  <div class="contact-title">
    <h2>Want to discuss a new project?</h2>
    <p>say hello! let's discuss you ideas and make it happen</p>
  </div>
  <div class="contact-form">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="input-group">
        <input
          #name="ngModel"
          minlength="2"
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          required
          [ngClass]="{
            valid: name.valid && name.touched,
            invalid: !name.valid && name.touched
          }"
        />
        <span>Your name</span>
      </div>

      @if (!name.valid && name.touched && !name.disabled) {
      <p class="error-message">Your name is required</p>
      }

      <div class="input-group">
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          [ngClass]="{
            valid: email.valid && email.touched,
            invalid: !email.valid && email.touched
          }"
        />
        <span>Your email</span>
      </div>

      @if (!email.valid && email.touched && !email.disabled) {
      <p class="error-message">Your email is required</p>
      }

      <div class="input-group">
        <textarea
          #message="ngModel"
          minlength="4"
          maxlength="1000"
          [(ngModel)]="contactData.message"
          id="message"
          name="message"
          required
          [ngClass]="{
            valid: message.valid && message.touched,
            invalid: !message.valid && message.touched
          }"
          style="height: 200px"
        ></textarea>
        <span>Your message</span>

        @if (!message.valid && message.touched && !message.disabled) {
        <p class="error-message">Your message is required</p>
        }
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="privacy"
          [(ngModel)]="contactData.privacyAccepted"
          name="privacyAccepted"
          required
        />
        <label for="privacy">
          I've read the
          <a routerLink="/policy" (click)="scrollToTop()">Privacy policy</a>
          and agree to the processing of my data as outlined.
        </label>
      </div>
      <div class="button-container">
        <button
          type="submit"
          [disabled]="!contactForm.valid || !contactData.privacyAccepted"
        >
          Submit
        </button>
        <div class="arrow-up">
          <a href="#hero"><img src="assets/img/arrow-scolup.png" alt="" /></a>
        </div>
      </div>
    </form>
  </div>
</div>
