@import "../../../styles.scss";

.portfolio-section {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  h2 {
    font-size: clamp(20px, 5vw, 45px);
    font-weight: 800;
  }

  p {
    font-size: clamp(12px, 5vw, 22px);
    padding: 0 10px;
    font-weight: 400;
  }
}

h2:hover {
  color: $highlight;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.project {
  width: 100%;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.project-box {
  width: 100%;
  display: flex;
  gap: 55px;
}

.project-border {
  position: relative;
  display: inline-block;

  > img {
    width: clamp(100px, 100%, 620px);
    max-width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  &:hover > img {
    filter: grayscale(0%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #000;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translate(12px, 12px);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
}

.project-box:hover .project-border::before,
.project-box:hover .border-icon,
.project-box:hover .project-info {
  opacity: 1;
}

.border-icon {
  position: absolute;
  top: 200px;
  right: -38px;
  width: 40px;
  height: 40px;
  background: url("/assets/img/arrow-border.png") center/cover no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease, transform 1s ease;
  z-index: 1;
  transform: rotate(135deg);
}

.project-box:hover .border-icon {
  opacity: 1;
  transform: scale(1.8) rotate(0deg);
}

.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  margin-top: 30px;
  gap: 20px;

  p {
    color: $highlight;
    font-size: 22px;
    font-weight: 400;
    text-align: justify;
  }
}

.project-box:hover .project-info {
  opacity: 1;
  transform: translateX(0);
}

.count {
  width: 100%;
  font-size: clamp(20px, 5vw, 40px);
  color: black;
  display: flex;
  justify-content: flex-end;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  margin-top: 30px;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  border: solid 3px black;
  text-decoration: none;
  padding: 15px 20px;
  color: black;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  cursor: pointer;
  margin: 20px;
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

.btn:hover {
  transform: scaleX(1.1);
  font-weight: bold;
}

.reverse {
  flex-direction: row-reverse;

  .project-info {
    transform: translateX(70px);
  }

  .count {
    justify-content: flex-start;
  }

  .project-border::before {
    transform: translate(-20px, 10px);
  }

  .border-icon {
    top: 220px;
    right: 0;
    left: -35px;
  }
}

@media (max-width: 1080px) {
  .project-box {
    display: contents;
  }

  .project-info {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    gap: 30px;
  }

  .border-icon {
    top: 125px;
  }

  .project {
    padding: 50px;
    gap: 0;
  }
}

@media (max-width: 635px) {
  .reverse .border-icon {
    top: 140px;
  }

  .border-icon {
    width: 30px;
    height: 30px;
  }

  .btn {
    padding: 5px 10px;
    font-size: 15px;
    margin: 0;
  }

  .project-info,
  .reverse .project-info {
    transform: translateY(-100px);
  }
}

@media (max-width: 450px) {
  .project-border::before {
    height: 93%;
  }

  .reverse .border-icon {
    top: 100px;
    left: -27px;
  }

  .border-icon {
    top: 100px;
    right: -30px;
    width: clamp(12px, 5vw, 30px);
    height: clamp(12px, 5vw, 30px);
  }

  .project {
    padding: 35px;
  }
}
