<section class="portfolio-section">
  <div>
    <h2>Portfolio</h2>
    <p>
      Explore a section of my work here- Interact with projects to see my skills
      in action.
    </p>
  </div>
  <div class="project">
    @for(project of project; track project.name; let index = $index) {
    <div class="project-box">
      <img
        src="/assets/img/projects/{{ project.img }}"
        alt="{{ project.name }}"
      />
      <!-- <p>{{ project.index }}</p> -->
      <div class="project-info">
        <h2>{{ project.name }}</h2>
        <p>{{ project.languages }}</p>
        <span>{{ project.description }}</span>
        <a class="btn" href="{{ project.link }}">View project</a>
      </div>
    </div>
    }
  </div>
</section>
