@import "../../../styles.scss";

h2 {
  display: flex;
  justify-content: center;
  width: max-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, -130%);
  padding: 0 20px;
  font-size: 78px;
  font-weight: 800;
  color: $primary;
  background-color: $secondary;

  // &:hover {
  //   color: $hightlight;
  // }
}
h2 {
  :hover {
    color: $hightlight;
  }
}
.skills-section {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.skills-wrapper {
  border: 4px solid $primary;
  width: 100%;
  display: grid;
  justify-content: center;
}
.skills {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 30px;
}
.icon-box {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  font-family: "Overpass", sans-serif;
}
.new-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  font-size: clamp(12px, 5vw, 22px);
  // font-size: 22px;
  font-family: "Overpass", sans-serif;

  a {
    text-decoration: none;
    color: $hightlight;
  }
}
.arrow {
  padding: 50px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: start;
}
