@import "../../../styles.scss";

h2 {
  display: flex;
  justify-content: center;
  width: max-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, -58%);
  font-size: 78px;
  font-weight: 800;
  color: $primary;
  background-color: $secondary;

  > h2:hover {
    color: $highlight;
  }
}
h2:hover {
  color: $highlight;
}

.skills-section {
  width: 100%;
  max-width: 1440px;
  padding: 50px;
}
.skills-wrapper {
  border: 4px solid $primary;
}
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  gap: 120px;
}
.icon-box {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Overpass", sans-serif;

  > img {
    width: 100px;
    height: 104px;
    transition: transform 0.27s linear;
  }

  > p {
    font-weight: 700;
    font-size: 16px;
  }

  &:hover {
    > p {
      color: $highlight;
    }
    > img {
      animation: circleAnimation 0.5s forwards linear;
    }
  }
}

@keyframes circleAnimation {
  0% {
    transform: translate(0) scale(1);
  }
  12% {
    transform: translate(25px) scale(0.9);
  }
  25% {
    transform: translate(50px) scale(0.8);
  }
  37% {
    transform: translate(25px) scale(0.6);
  }
  50% {
    transform: translate(0) scale(0.4);
  }
  62% {
    transform: translate(-25px) scale(0.6);
  }
  75% {
    transform: translate(-50px) scale(0.8);
  }
  87% {
    transform: translate(-25px) scale(0.9);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
.new-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 35px;
  font-size: clamp(12px, 5vw, 22px);
  font-family: "Overpass", sans-serif;
  a {
    text-decoration: none;
    color: $highlight;
    position: relative;
    display: inline-block;
  }
}
.new-skills img:hover {
  animation: circleAnimation 0.5s forwards linear;
}
////////////////////////// Pseudo-Element border link //////////////////////////
.new-skills a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: $highlight;
  transition: width 1s ease-in-out;
}
.new-skills a:hover::before {
  animation: expand-and-border 0.2s ease-out forwards;
}
@keyframes expand-and-border {
  100% {
    width: 45%;
    transform: translateX(65px);
  }
}
.new-skills a:hover {
  font-weight: 700;
}

.arrow {
  padding: 50px;
  width: 100%;
  max-width: 1440px;
}
