<section class="skills-section">
  <div class="skills-wrapper">
    <h2>My skills</h2>
    <div class="skills">
      @for(skill of skills; track skill.name; let index = $index ){
      <div class="icon-box">
        <img src="/assets/img/icons/{{ skill.img }}" alt="{{ skill.name }}" />
        <p>{{ skill.name }}</p>
      </div>
      }
    </div>
    <div class="new-skills">
      <img src="/assets/img/icons/Continued-learning.png" alt="" />
      <p>
        dont's see the skill you need? <a href="#contact">Contact me</a> I'm
        always read to learn!
      </p>
    </div>
  </div>
</section>
<div class="arrow">
  <a href=""><img src="../../../assets/img/arrow-left.png" alt="arrow" /></a>
</div>
