<section class="reference-section">
  <div>
    <h2>{{ "REFERENCES.TITLE" | translate }}</h2>
    <p>{{ "REFERENCES.SUBTITLE" | translate }}</p>
  </div>

  <div class="reference">
    <div
      *ngFor="let reference of pagedReferences[currentPage]"
      class="reference-box"
    >
      <span class="icon">,,</span>
      <h3>{{ reference.name | translate }}</h3>
      <p>{{ reference.position | translate }}</p>
      <a href="{{ reference.link }}" target="_blank">
        <img
          class="social-icon"
          src="../../../assets/img/linkedin.svg"
          alt="Linkedin-icon"
        />
      </a>
      <div class="reference-text">
        <p>{{ reference.references | translate }}</p>
      </div>
    </div>
  </div>
  <div class="pagination-buttons">
    <button (click)="prevPage()" [disabled]="currentPage === 0">
      ← {{ "REFERENCES.PRESVIOUS" | translate }}
    </button>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === pagedReferences.length - 1"
    >
      {{ "REFERENCES.NEXT" | translate }} →
    </button>
  </div>
</section>
<div class="arrow">
  <a href="#contact"
    ><img src="../../../assets/img/arrow-r.png" alt="arrow"
  /></a>
</div>
