@import "../../../styles.scss";

.reference-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  gap: 20px; // Fügt Abstand zwischen den Elementen hinzu

  h2 {
    font-size: clamp(20px, 5vw, 78px);
    font-weight: 800;
    transition: color 0.3s ease-in-out; // Weiche Farbänderung
  }

  h2:hover {
    color: $highlight; // Korrigierter Variablenname (fehlte ein "h")
  }
}

.reference {
  width: 100%;
  padding: 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.reference-box {
  font-family: "Overpass", sans-serif;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 344px;

  h3 {
    font-size: 22px;
    margin: 0;
  }

  p {
    margin: 16px;
  }

  &:hover {
    border-color: $highlight;

    .icon {
      color: $highlight;
    }
  }
}

.icon {
  position: relative;
  left: 50%;
  transform: translate(-50%, -12%);
  font-size: 60px;
  font-weight: 800;
  color: black;
}
.arrow {
  padding: 50px;
  // max-width: 1448px;
  display: flex;
  box-sizing: border-box;
  justify-content: end;
}
