@import "../../../styles.scss";

.reference-section {
  @include dFlex($jc: none);
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  gap: 20px;
  padding: 0px 10px 0px 10px;
  margin: 50px 0 50px 0;

  h2 {
    font-size: clamp(20px, 9vw, 78px);
    font-weight: 800;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $highlight;
    }
  }
}

.reference {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.reference-box {
  font-family: "Overpass", sans-serif;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 390px;
  min-width: 250px;
  height: auto;
  flex: 1 1 250px;
  padding: 20px;
  box-sizing: border-box;

  h3 {
    font-size: 22px;
    margin: 0;
  }

  p {
    margin: 16px;
    font-size: clamp(16px, 1vw, 24px);
  }

  &:hover {
    border-color: $highlight;

    .icon {
      color: $highlight;
    }
  }
}

.icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  font-weight: 800;
  color: black;
}

.arrow {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
}
