@import "../../../styles.scss";

.reference-section {
  @include dFlex($jc: none);
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  gap: 20px;
  padding: 0px 10px 0px 10px;
  margin: 50px 0 50px 0;

  h2 {
    font-size: clamp(31px, 8vw, 78px);
    font-weight: 800;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $highlight;
    }
  }
  p {
    font-size: clamp(14px, 4vw, 22px);
  }
}

.reference {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.reference-box {
  font-family: "Overpass", sans-serif;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  max-width: 390px;
  min-width: 250px;
  padding: 20px;

  h3 {
    font-size: 22px;
    margin: 0;
  }

  p {
    margin: 16px;
    font-size: clamp(16px, 1vw, 24px);
  }
  a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $highlight;
    }
  }

  &:hover {
    border-color: $highlight;

    .icon {
      color: $highlight;
    }
  }
}
.reference-text {
  box-sizing: border-box;
  overflow-y: scroll;
  height: 300px;
  scrollbar-width: none;
}

.reference-text::-webkit-scrollbar {
  display: none;
}
.icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  font-weight: 800;
  color: black;
}

.arrow {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: flex-end;
}
.pagination-buttons {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #f5f5dc;
  color: #333;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0 6px 10px #00bc8f;

  transform: translateY(-2px);
  background-color: $highlight;
}

button[disabled] {
  background-color: #e0e0d1;
  color: #aaa;
  cursor: not-allowed;
  box-shadow: none;
}
.social-icon {
  padding: 1px;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 74%);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.social-icon:hover {
  background-color: $highlight;
  transform: scale(1.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 74%);
}
