<section class="reference-section">
  <div>
    <h2>References</h2>
    <p>
      I thrive both independently and as part of a team. Here's what my
      colleagues have to say about working with me.
    </p>
  </div>
  <div class="reference">
    <div class="reference-box">
      <span class="icon">,,</span>
      <h3>S.Michael</h3>
      <p>Team Partner</p>
      <span
        >Michael really kept the team together with his great organization and
        clear communication. We wouldn't have got this far without his
        commitment.</span
      >
    </div>
  </div>
</section>
