@import './app/styles/variablen.scss';
@import './app/styles/fonts.scss';
@import './app/styles/mixins.scss';



body{
  background-image: url('./assets/img/Background Pattern.svg'); 
}

*{
  box-sizing: border-box;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #00BC8F #dddddd00;
}


::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00BC8F;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #00BC8F;
  border: 1px solid transparent;
}



