@import "./app/styles/variablen.scss";
@import "./app/styles/fonts.scss";
@import "./app/styles/mixins.scss";

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #00bc8f #dddddd00;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // max-width: 1440px;
  margin: 0 auto;
  background-image: url("./assets/img/Background Pattern.svg");
  background-color: $secondary;
}
p {
  font-family: "Overpass";
}
h1,
h2 {
  font-family: "Syne";
}
a {
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #fffcf3;
  border: 1px solid transparent;
}
