@import "./app/styles/variablen.scss";
@import "./app/styles/fonts.scss";
@import "./app/styles/mixins.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("./assets/img/Background Pattern.svg");
  background-color: $secondary;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #00bc8f #dddddd00;
  scroll-behavior: smooth;
  margin: 0;
}

p {
  font-family: "Overpass";
}
h1,
h2 {
  font-family: "Syne";
}
a {
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #fffcf3;
  border: 1px solid transparent;
}
