@import "../../../styles.scss";

.footer-box {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.footer-left {
  display: flex;
  justify-content: space-between;
  > .logo img {
    width: 70px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 12px;
  a {
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s;
    cursor: pointer;
    font-family: "Overpass", sans-serif;
    &:hover {
      color: $highlight;
    }
  }
  p {
    color: $secondary;
    font-size: 22px;
    font-family: "Overpass", sans-serif;
  }
}
.social {
  display: flex;
  gap: 12px;
  align-items: center;
  img {
    transition: transform 0.3s ease; /* Smooth Animation */
    &:hover {
      transform: translateY(-10px); /* Bewegung nach oben */
    }
  }
}

@media (max-width: 500px) {
  .footer-left {
    display: flex;

    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
