<footer>
  <div class="footer-box">
    <div class="footer-left">
      <div class="logo">
        <a (click)="navigateToMainPage()">
          <img src="/assets/img/logo-W.png" alt="logo" />
        </a>
      </div>
      <div class="social">
        <a href=""
          ><img src="assets/img/4. Github button s3.png" alt="Github"
        /></a>
        <a href=""
          ><img src="assets/img/5. Email button s3.png" alt="Email"
        /></a>
        <a href=""
          ><img src="assets/img/6. Linkedin button s3.png" alt="Linkedin"
        /></a>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© Dzmitry Stashkevich</p>

      <div>
        <a routerLink="/imprint" (click)="navigateToMainPage()">{{
          "FOOTER.IMPRINT" | translate
        }}</a>
      </div>
    </div>
  </div>
</footer>
