@import "../../../styles.scss";
footer {
  // position: relative;
  // width: 100%;
  // height: fit-content;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: clamp(2rem, 13.333vw - 6rem, 6rem) clamp(2rem, 13.333vw - 6rem, 6rem)
  //   2rem clamp(2rem, 13.333vw - 6rem, 6rem);
  // flex-grow: 1;
  background-color: $primary;
  // clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}
.footer-box {
  background-color: $primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 10%;
  padding-left: 10%;
  max-width: 1440px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  > a {
    color: $secondary;
  }
}
p {
  color: $secondary;
  font-size: 22px;
  font-family: "Overpass", sans-serif;
}
.logo {
  > img {
    width: 70px;
  }
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 12px;
  flex-direction: column;
  a {
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      color: #00bc8f;
      transform: translateY(-10px);
    }
  }
}
.social {
  display: flex;
  gap: 12px;
  align-items: center;

  img {
    transition: transform 0.3s ease; /* Smooth Animation */
    &:hover {
      transform: translateY(-10px); /* Bewegung nach oben */
    }
  }
}
