@import "../../../styles.scss";

.footer-box {
  background-color: $primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px;
  padding: 0 clamp(2rem, 13.333vw - 6rem, 6rem);
  // max-width: 1440px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  > a {
    color: $secondary;
  }
}
p {
  color: $secondary;
  font-size: 22px;
  font-family: "Overpass", sans-serif;
}
.logo {
  > a img {
    width: 70px;
  }
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 12px;
  flex-direction: column;
  a {
    color: white;
    font-size: 1.5rem;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: $highlight;
    }
  }
  img {
    transition: transform 0.3s ease; /* Smooth Animation */
    &:hover {
      transform: translateY(-10px); /* Bewegung nach oben */
    }
  }
}
.social {
  display: flex;
  gap: 12px;
  align-items: center;
}
